<header id="cabecalho">
    <div id="logo">
        Produtos <span id="titulo-logo"> Esporte </span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">
            <li><a routerLink="/tela-inicial" class="lnk-menu">Home</a></li>
            <li><a routerLink="/sobre" class="lnk-menu">Sobre</a></li>
            <li><a routerLink="/Cadastro-Corrida" class="lnk-menu">Cadastro Corridas</a></li>
            <li><a routerLink="/Corridas" class="lnk-menu">Corridas</a></li>
            <li><a routerLink="/Atletas" class="lnk-menu">Atletas</a></li>
        </ul>
    </nav>
</header>