<header id="cabecalho">
    <div id="logo">
        Produtos <span id="titulo-logo"> Esporte </span>
    </div>

    <nav id="menu">

        <div id="pesquisa">

            <input type="text" placeholder="O que está buscando?">
            <button type="submit" >pesquisar</button>

            <div id="login-cadastro">
                <span>Entrar / Cadastrar</span>
                <strong>Minha conta</strong>
            </div>
            
        </div>


        <ul id="ul-menu">
            <li><a routerLink="/tela-inicial" class="lnk-menu">Tela inicial</a></li>
<!--        <li><a routerLink="/Cadastro-Atleta" class="lnk-menu">Cadastro Atleta</a></li>  
            <li><a routerLink="/Cadastro-Corrida" class="lnk-menu">Cadastro Corridas</a></li>-->
            <li><a routerLink="/carrinho" class="lnk-menu">Carrinho</a></li>    
            <li><a routerLink="/sobre" class="lnk-menu">Sobre</a></li>
        </ul>
    </nav>
</header>

